.Projects {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectsCards {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* clip the image to the bounds of the card */
}

.projectsImgEl {
  width: 100%; /* fill the width of the container */
  height: 100%; /* fill the height of the container */
  object-fit: cover; /* scale the image to cover the entire container */
  object-position: center; /* center the image within the container */
}

.projectsBody {
  background: radial-gradient(circle at center, beige, grey, black, beige);
  padding: 20px;
}
