.hero {
  position: relative;
}
.hero video {
  padding: 0;
  width: 100%;
  height: 50%; /* Set the width of the video element to 50% of its container */ /* Maintain the video's aspect ratio */
  border: rgba(0, 0, 0, 0.7) bold;
}

.navbar {
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7);
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
